<h1>Create Effect</h1>

<form action="" method="POST">

  <label for="input-text1">Text 1</label>
  <input type="text" id="input-title" name="text1" placeholder="Main text here" required/>

  <label for="input-text2">Text 2</label>
  <textarea id="input-text2" name="text2" maxlength="140" minlength="10">Secondary text here...</textarea>


  <label for="input-logo_url">Logo Image</label>
  <input type="url" id="input-logo_url" name="logo_url" placeholder="URL for Logo">

  <button>Submit</button>

  
</form>