<h1>Create Effect</h1>

<form action="" method="POST">

  <label for="input-title">Text 1</label>
  <input type="text" id="input-title" name="text_1" placeholder="Main text here" required/>

  <label for="story">Text 2</label>
  <textarea id="story" name="story"
          maxlength="140" minlength="10">
          Secondary text here...
</textarea>


  <label for="input-image">Logo Image</label>
  <input type="url" id="input-image" name="image" placeholder="URL for Image">

  <button>Submit</button>

  
</form>